.header {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #2FA4F2 0%, #7AC7FA 96.28%);

}
.header_main {
    display: flex;
    background: linear-gradient(90deg, #2FA4F2 0%, #7AC7FA 96.28%);

}
@media screen and (max-width: 676px){
    .header_main {
        display: flex;
        justify-content: center;
        background: linear-gradient(90deg, #2FA4F2 0%, #7AC7FA 96.28%);
    
    }
}
.Heading_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1#heading1 {
    font-family: Roboto;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: 91px;
    letter-spacing: 0em;
    text-align: center;
    color: #E07A5F;
}
h2#heading2 {
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    color: #231651;
}
.btn{
height: 136px;
width: 588px;
left: 88px;
top: 487px;
border-radius: 10px;
}
button.btn.btn-secondary.btn-block.w-100 {
    color: #7DCD85;
    font-family: Roboto;
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
    line-height: 91px;
    letter-spacing: 0em;
    text-align: center;
}
.box{
    /* width: 300px;
    height: 200px; */
    border: 2px solid black;
}
.butn button{
    height: 98px;
    width: 346px;
    left: 547px;
    top: 1034px;
    border-radius: 10px;
    background: #7DCD85;
    color:white;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
    
}
.input_text{
    height: 41px;
    width: 500px;
    left: 270px;
    top: 720px;
    border-radius: 10px;

}
.img {
    width: 160px;
    height: 160px;
}
h3.option {
    text-align: center;
}
.Error_text,.waiting_text
{
    font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: center;
color: #E07A5F;
}

button.login.btn.btn-info {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 676px){
    .img_grid{
        display: flex;
        flex-direction: column;
        
    }
    .img {
        width: 95%;
        height: 250px;
    }
}